<!DOCTYPE html>

<html>
	<head>
		<title>Поисковик</title>
	</head>
	<body>
		<body bgcolor="#FDF5E6">
		<header "> 
			<div class="container"> 
				<div class="row">
						<br/><br/>
						<h1 class="header">Поисковик</h1>
						<p style="text-align:right; class="descr"><i>(Выдает и сортирует по релевантности предложения из корпуса "Quora question pairs"). 
</i></p><br/>
	                </div>
	            </div>
			</div>
		</header>

		<section>
			<div class="container" >
				
				<form action="/answer" method="get">
				<br>
	
	            <br>
				<p><b>Запрос: </b> <input type="text" name="query" value=""> <input type="submit" value = ' Найти ' ></p>
			</div>
		</section>
		<footer class="bs-docs-footer"> 
			<div class="container"> 
				<br>
				<br>
				<p ">Проект по компьютерной лингвистике (1 модуль, 4 курс) Миляевой Надежды, НИУ ВШЭ БКЛ 161. <a href = "">Ссылка на github</a></p> 
			</div>
		</footer>	
		
	</body>
</html>